<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Matt Neuburg</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>MattBundle</string>
	<key>uuid</key>
	<string>A82A9BCD-043E-4711-9CC2-DC88A72E12BE</string>
</dict>
</plist>
